@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.Formcontainer {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  text-align: center;
}



.form {
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  font-size: 16px;
  background-color: #000000;
  transition: border-color 0.2s ease;
}

.input:focus {
  border-color: #3182ce;
  outline: none;
  background-color: #ffffff;
}

.button {
  width: 100%;
  padding: 12px;
  background-color: #3182ce;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 12px;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #2b6cb0;
}



.reminders-list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.reminder-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #f7fafc;
  transition: background-color 0.2s ease;
}

.reminder-item:hover {
  background-color: #e2e8f0;
}

.remove-reminder {
  color: #e53e3e;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
  transition: color 0.2s ease;
}

.remove-reminder:hover {
  color: #c53030;
}

.status {
  margin-top: 20px;
  font-size: 16px;
  color: #38a169;
}

.stop-button {
  width: 100%;
  padding: 12px;
  background-color: #e53e3e;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 12px;
  transition: background-color 0.2s ease;
}

.stop-button:hover {
  background-color: #c53030;
}